


<div class="row">

   

    <form action="/admin/generate-fake-posts" method="post">

        <h1>Create Post</h1>
        <div class="form-group">

            <input name="amount" type="number" class="form-control">

        </div>


        <button type="submit">Create</button>  


    </form>




</div>