<h1 class="editCatg">Edit Category <span style='font-size:50px;'>&#129299;</span></h1>
<div class="row" class="styleCatg">
    <div class="col-sm-4">
       <form action="/admin/categories/edit/{{category.id}}?_method=PUT" method="post">
             <div class="form group">
                <label for="name">Name</label>
                <input value="{{category.name}}" type="text" name="name" placeholder="Enter Title" class="form-control">
            </div>

         <button class="btn btn-primary" style="margin-top:20px;">Update Category</button>
       </form>
    </div>
</div>