


   <div class="col-sm-4">
       <h1>Create Category</h1>
       <form action="/admin/categories/create" method="post"
               <div class="form-group">
                   <label for="name">Name</label>
                   <input type="text" name="name" placeholder="Enter Title" class="form-control">
               </div>
               <button class="btn btn-primary">Create Category</button>
       </form>
   </div>
    <br>
    <hr>
    <div class="col-sm-8">
        <h1>categories</h1>
        <table class="table">

             <thead>
                 <tr>
                     <th>Id</th>
                     <th>Name</th>
                     <th>Date</th>
                 </tr>
             </thead>
              <tbody>
                  <tr>
                      <td>432543</td>
                      <td>Java</td>
                      <td>Jan 1 2020</td>
                  </tr>
              </tbody>



        </table>




    </div>


