<div class="row" class="styleCatg">
     <div class="col-sm-4">
       <h1 class="createCatg">Create Category <span style='font-size:50px;'>&#128526;</span></h1>
       <form action="/admin/categories/create" method="post">
             <div class="form group">
                <label for="name">Name</label>
                <input type="text" name="name" placeholder="Enter Title" class="form-control">
            </div>

         <button class="btn btn-primary" style="margin-top: 20px;">Create Category</button>
       </form>
    </div>

</div>
<br>

 <hr>
<div class="row">
 
       <div class="col-sm-8">
        <h1 class="catgName">Categories Name <span style='font-size:50px;'>&#128522;</span></h1>
        <table class="table">

             <thead>
                 <tr>
                     <th>Id</th>
                     <th>Name</th>
                 </tr>
             </thead>
              <tbody>
               {{#each categories}}
                 

                  <tr>
                      <td>{{id}}</td>
                      <td>{{name}}</td>
                      <td><a href="/admin/categories/edit/{{id}}" class="btn btn-info">Edit</a></td>
                      <td>
                          <form action="/admin/categories/{{id}}?_method=DELETE" method="post">
                             
                               <button class="btn btn-danger">Delete</button>
                          
                          </form>


                      </td>
                  </tr>

                {{/each}}

              </tbody>



        </table>




    </div>

</div>
   

  

