
<div id="page-container">
<footer class='py-5 bg-dark'>
  <div class='container'>
    <p class='m-0 text-center text-white'>
      Copyright: Nafisa's Website 2020
    </p>
  </div>
  <!-- /.container -->
</footer>
</div>