
<div>
<footer class='py-6 bg-dark footer'>
  <div class='container'>
    <p class='m-0 text-center text-white textFooter'>
      ©2020 Nafisa Hasan. All Rights Reserved
    </p>
  </div>
  <!-- /.container -->
</footer>
</div>