{{#if success_message}}

      <div style="padding-top: 10px;">


         <div class="alert alert-success">

        {{success_message}}

         </div>




      </div>
     

{{/if}}


{{!-- this message is use for flash , it is included in admin.handlebars --}}