<div class='col-md-4 cardCat'>
  <!-- Categories Widget -->
  <div class='card my-4'>
    <h5 class='card-header catHeadline'>
      Categories
    </h5>
    <div class='card-body'>
      <div class='row'>
        {{#each categories}}
        <div class='col-lg-6'>
          <ul class='list-unstyled mb-0'>
            <li>
              <a href='#'>{{name}}</a>
            </li>
          </ul>
        </div>
        {{/each}}
      </div>
    </div>
  </div>
</div>