body {
  padding-top: 54px;
  padding-bottom: 140px;
  
}

@media (min-width: 992px) {
  body {
    padding-top: 56px;
    padding-bottom: 140px;
   
  }
}
 
/* .footer {
   position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   height:20px;
   text-align: center;
   padding: 20px 0; }*/
.maven{
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  font-size: 25px;
  font-weight: 900;
}

.fontNav{
  font-family: Tahoma;
}

.styleNav{
  padding-right: 30px;
}


.cardCat{
  margin-top: 100px;
}

.catHeadline{
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  font-weight: 700;
  color: rgb(63, 58, 58);
  text-shadow: 2px 2px 5px rgb(105, 102, 102);
}
.catHeadline:hover{ 
  text-shadow: 0 1px 0 #ccc, 0 2px 0 #ccc, 
  0 2px 0 #ccc, 0 3px 0 #ccc, 
  0 4px 0 #ccc, 0 5px 0 #ccc, 
  0 6px 0 #ccc, 0 7px 0 #ccc, 
  0 8px 0 #ccc, 0 9px 0 #ccc, 
  0 10px 0 #ccc, 0 11px 0 #ccc, 
  0 10px 20px rgba(0, 0, 0, 0.5); 
} 




.homeTitle{
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  font-weight: 900;
  color: rgb(51, 26, 26);
  text-align: center;
  text-shadow: 2px 2px 5px rgb(105, 102, 102);
  position: relative;
  font-family: sans-serif;
  text-transform: uppercase;
  font-size: 2em;
  letter-spacing: 4px;
  overflow: hidden;
  background: linear-gradient(90deg, rgb(8, 6, 6), rgb(78, 44, 44),rgb(8, 6, 6));
  background-repeat: no-repeat;
  background-size: 80%;
  animation: animate 3s linear infinite;
  -webkit-background-clip: text;
  -webkit-text-fill-color: rgba(255, 255, 255, 0);
}

@keyframes animate {
  0% {
    background-position: -500%;
  }
  100% {
    background-position: 500%;
  }
}


.postTitle{
 font-family:  "Lucida Sans Unicode", "Lucida Grande", sans-serif;
 font-weight: 900;
}


.postBody{
  font-family:"Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

.aboutHeadline{
  font-family: Georgia, 'Times New Roman', Times, serif;
  color: rgb(73, 70, 70);
  font-weight: 900;
  margin-top: 100px;
  text-align: center;
  font-size: 60px;
  line-height:1em;
  animation-name: headline;
  animation-duration: 6s;
  text-shadow: 2px 2px 5px rgb(105, 102, 102);
}

.aboutHeadline:hover { 
  text-shadow: 0 1px 0 #ccc, 0 2px 0 #ccc, 
  0 3px 0 #ccc, 0 4px 0 #ccc, 
  0 5px 0 #ccc, 0 6px 0 #ccc, 
  0 7px 0 #ccc, 0 8px 0 #ccc, 
  0 9px 0 #ccc, 0 10px 0 #ccc, 
  0 11px 0 #ccc, 0 12px 0 #ccc, 
  0 20px 30px rgba(0, 0, 0, 0.5); 
} 


@keyframes headline {
  0% {color: rgb(29, 10, 10);}
  50%{color: rgb(155, 135, 135);}
  100% {color:  rgb(73, 70, 70);}
}


.about{
  margin-top: 100px;
}

.half-width {
  width: 40%;
  float: left;
  margin-left: 5%;
  padding-left: 2%;
}


.half-width img {
  width: 100%;
  -webkit-filter: grayscale(100%); 
  filter: grayscale(100%);
}

.rotate{
  top: 50%;
  left: 50%;
  -webkit-animation:spin 2s linear;
  -moz-animation:spin 2s linear;
  animation:spin 2s linear;
}

@-moz-keyframes spin { 100% { -moz-transform: rotate(180deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(180deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(180deg); transform:rotate(360deg); } }

.aboutPara{
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  font-weight: 900;
  color: rgb(29, 10, 10);
  font-size: medium;

  animation-name: aboutPara;
  animation-duration: 4s;
}

@keyframes aboutPara{
  0% {color: rgb(29, 10, 10);}
  50%{color: rgb(155, 135, 135);}
  100% {color:  rgb(73, 70, 70);}
}

.footer{
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 20px;
  line-height: 0px;
  text-align: center;
  padding: 20px 0;
}
.textFooter{
  font-size: small;
}
