body {
  padding-top: 54px;
  padding-bottom: 140px;
  
}

@media (min-width: 992px) {
  body {
    padding-top: 56px;
    padding-bottom: 140px;
   
  }
}
 
/* .footer {
   position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   height:20px;
   text-align: center;
   padding: 20px 0; }*/
.maven{
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  font-size: 25px;
  font-weight: 900;
}

.fontNav{
  font-family: Tahoma;
}

.styleNav{
  padding-right: 30px;
}

.postTitle{
 font-family:  "Lucida Sans Unicode", "Lucida Grande", sans-serif;
 font-weight: 900;
}

.homeTitle{
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  font-weight: 900;
}
.postBody{
  font-family:"Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

.footer{
     position: fixed;
     left: 0;
     right: 0;
     bottom: 0;
     width: 100%;
     height: 20px;
     line-height: 0px;
     text-align: center;
     padding: 20px 0;
}
