<div class="bg-light">
  <div class="container py-5">
    <div class="row h-100 align-items-center py-5">
      <div class="col-lg-6">
        <h1 class="display-4 aboutHeadline">Maven is an open community</h1>
        <p class="lead text-muted mb-0"> We are here to share knowledge and help each other to grow.</p>
      </div>
      <div class="col-lg-6 d-none d-lg-block"><img src="/uploads/images/back.png" alt="" class="img-fluid">
      </div>
    </div>
  </div>
</div>
<div class="bg-white py-5">
  <div class="container py-5">
    <div class="row align-items-center mb-5">
      <div class="col-lg-6 order-2 order-lg-1"><i class="fa fa-bar-chart fa-2x mb-3 text-primary"></i>
        <h2 class="font-weight-light">Why you should be a member of us?</h2>
        <p class="font-italic text-muted mb-4"> We can see that many students want to build their career in developing
          and programming
          whereas some of them lose the track. So here the experts will share their knowledge by posting many content
          and
          students can follow the suggestions. It will be a great platform where experts can share their best knowledge
          and people will not fall out from the track. So if you want to share and gain knowledge, join us!</p>
      </div>
      <div class="col-lg-5 px-5 mx-auto order-1 order-lg-2"><img
          src="https://res.cloudinary.com/mhmd/image/upload/v1556834139/img-1_e25nvh.jpg" alt=""
          class="img-fluid mb-4 mb-lg-0"></div>
    </div>
  </div>
</div>

<div class="bg-light py-5">
  <div class="container py-5">
    <div class="row mb-4">
      <div class="col-lg-5">
        <h2 class="display-4 font-weight-light">Our team</h2>
        <p class="font-italic text-muted">People who are managing this open platform to be more responsive.</p>
      </div>
    </div>

    <div class="row text-center">
      <!-- Team item-->
      <div class="col-xl-4 col-sm-6 mb-5">
        <div class="bg-white rounded shadow-sm py-5 px-4"><img
            src="https://res.cloudinary.com/mhmd/image/upload/v1556834132/avatar-4_ozhrib.png" alt="" width="100"
            class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
          <h5 class="mb-0">Nafisa Hasan</h5><span class="small text-uppercase text-muted">CEO - Founder</span>
        </div>
      </div>
      <!-- End-->

      <!-- Team item-->
      <div class="col-xl-4 col-sm-6 mb-5">
        <div class="bg-white rounded shadow-sm py-5 px-4"><img
            src="https://res.cloudinary.com/mhmd/image/upload/v1556834130/avatar-3_hzlize.png" alt="" width="100"
            class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
          <h5 class="mb-0">Chandler Bing</h5><span class="small text-uppercase text-muted">CO - Founder</span>
        </div>
      </div>
      <!-- End-->

      <!-- Team item-->
      <div class="col-xl-4 col-sm-6 mb-5">
        <div class="bg-white rounded shadow-sm py-5 px-4"><img
            src="https://res.cloudinary.com/mhmd/image/upload/v1556834133/avatar-2_f8dowd.png" alt="" width="100"
            class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
          <h5 class="mb-0">Harry Potter</h5><span class="small text-uppercase text-muted">CO - Founder</span>
        </div>
      </div>
      <!-- End-->
    </div>
  </div>
</div>