<h1 class="aboutHeadline">Thank you for contacting us</h1>
<div class="about">
    <div class="half-width">
        <figure>
            <img src="/uploads/images/circle-cropped.png" alt="IMG" />
        </figure>
    </div>
    <div class="half-width">
        <p class="contactPara">
            You are very important to us, all information received will always remain confidential. We will contact you
            as soon as we review your message. Get in touch with us for any support or malfunction.
        </p>
    </div>
</div>