<h1>
  Create Post
</h1>
<form action='/admin/posts/create' method='post'>
  <div class='form-group'>
    <label for='title'>
      Title
    </label>
  </div>
  <input
    name='title'
    type='text'
    class='form-control'
    id='title'
    placeholder='Enter title'
  />

  <div class='form-group'>
    <label for='status'>
      Status
    </label>

    <select name='status' id='status' class='form-control'>
      <option value='public'>
        Public
      </option>
      <option value='private'>
        Private
      </option>
      <option value='draft'>
        Draft
      </option>
    </select>
  </div>

  <div class='form-check'>
    <label for='allowComments'>
      <input
        name='allowComments'
        type='checkbox'
        class='form-check-input'
        id='allowComments'
      />
      Allow Comments
    </label>
  </div>

  <div class='form-group'>
    <label for='body'>
      Description
    </label>
    <textarea
      name='body'
      class='form-control'
      id='body'
      placeholder='Enter description'
      cols='30'
      rows='10'
    ></textarea>
  </div>
  <button type='submit' class='btn btn-primary'>
    Submit
  </button>
</form>