<h1>
  All Posts
</h1>
<table class='table table-bordered'>
  <thead>
    <tr>
      <th>
        Id
      </th>
      <th>
        Title
      </th>
      <th>
        Status
      </th>
      <th>
        Allow Comments
      </th>
    </tr>
  </thead>
  <tbody>
    {{#each posts}}
      <tr>
        <td>
          {{id}}
        </td>
        <td>
          {{title}}
        </td>
        <td>
          {{status}}
        </td>
        <td>
          {{allowComments}}
        </td>
      </tr>
    {{/each}}
  </tbody>
</table>