<h1 class="aboutHeadline">Maven is an open community</h1>
<div class="about">
  <div class="half-width">
    <figure>
      <img src="/uploads/images/back.png" alt="IMG" />
    </figure>
  </div>
  <div class="half-width">
    <p class="aboutPara">
      We are here to share knowledge and help each other to grow. <br> <br>
      We can see that many students want to build their career in developing and programming
      whereas some of them lose the track. So here the experts will share their knowledge by posting many content and
      students can follow the suggestions. It will be a great platform where experts can share their best knowledge
      and people will not fall out from the track. So if you want to share and gain knowledge, join us!
    </p>
  </div>
</div>