{{!-- <div class="contact1">
  <div class="container-contact1">
    <div class="contact1-pic js-tilt" data-tilt>
      <img src="/uploads/images/email.png" alt="IMG" />
    </div>

    <form action="/contact" class="contact1-form validate-form" method="post" id="contact-form" role="form">
      <span class="contact1-form-title">
        Get in touch for support or any malfunction
      </span>

      <div class="wrap-input1 validate-input" data-validate="Name is required">
        <input id="name" class="input1" type="text" name="name" placeholder="Name" required />
        <span class="shadow-input1"></span>
      </div>

      <div class="wrap-input1 validate-input" data-validate="Valid email is required: ex@abc.xyz">
        <input id="email" class="input1" type="text" name="email" placeholder="Email" required />
        <span class="shadow-input1"></span>
      </div>
      <div class="wrap-input1 validate-input" data-validate="Message is required">
        <textarea id="message" class="input1" name="message" placeholder="Message" required></textarea>
        <span class="shadow-input1"></span>
      </div>

      <div class="container-contact1-form-btn">
        <button class="contact1-form-btn">
          <span>
            Send Email
            <i class="fa fa-long-arrow-right" aria-hidden="true"></i>
          </span>
        </button>
      </div>
    </form>
  </div>
</div> --}}



<div class="contact1">
  <h1 class="contact1-form-title aboutPara"> <span class="contactGet">Get in touch </span> <br> for support or any
    malfunction</h1>
  <div class="container-contact1">
    <div class="about">
      <div class="half-width contact1-pic js-tilt">
        <img src="/uploads/images/email.png" alt="IMG" />
      </div>
      <div class="half-width">
        <form action="/contact" class="contact1-form validate-form" method="post" id="contact-form" role="form">
          <div class="wrap-input1 validate-input" data-validate="Name is required">
            <input id="name" class="input1" type="text" name="name" placeholder="Name" required />
            <span class="shadow-input1"></span>
          </div>

          <div class="wrap-input1 validate-input" data-validate="Valid email is required: ex@abc.xyz">
            <input id="email" class="input1" type="text" name="email" placeholder="Email" required />
            <span class="shadow-input1"></span>
          </div>
          <div class="wrap-input1 validate-input" data-validate="Message is required">
            <textarea id="message" class="input1" name="message" placeholder="Message" required></textarea>
            <span class="shadow-input1"></span>
          </div>

          <div class="container-contact1-form-btn">
            <button class="contact1-form-btn">
              <span>
                Send Email
                <i class="fa fa-long-arrow-right" aria-hidden="true"></i>
              </span>
            </button>
          </div>
        </form>
      </div>
    </div>

  </div>
</div>