<div class='card card-login mx-auto loginCard'>
  <div class='card-header cardHead'>
    Login to Your Account
  </div>
  <div class='card-body'>
    <form action='/login' method='post'>
      <div class='form-group'>
        <label for='exampleInputEmail1' class="fontS">
          Email address
        </label>
        <input name='email' class='form-control email' id='exampleInputEmail1' type='email' aria-describedby='emailHelp'
          placeholder='Enter email' required />
      </div>
      <div class='form-group'>
        <label for='exampleInputPassword1' class="fontS">
          Password
        </label>
        <input name='password' class='form-control' id='exampleInputPassword1' type='password' placeholder='Password'
          required />

        <input type="checkbox" onclick="Toggle()">
        <label class="showPass">Show Password</label>
      </div>
      <button type='submit' class='btn btn-primary btn-block loginBtn'>
        Login
      </button>
    </form>
    <div class='text-center'>
      <a class='d-block medium mt-3 loginLink' href='/register'>
        Register an Account
      </a>
      <a class='d-block medium loginLink' href='/'>
        Home Page?
      </a>
    </div>
  </div>
</div>