{{#if error}}
<div style="padding-top: 10px;">
      <div class="alert alert-danger">
            {{error}}
      </div>
</div>
{{/if}}
{{#if error_message}}
<div style="padding-top: 10px;">
      <div class="alert alert-danger">
            {{error_message}}
      </div>
</div>
{{/if}}
{{#if success_message}}
<div style="padding-top: 10px;">
      <div class="alert alert-success">
            {{success_message}}
      </div>
</div>
{{/if}}

{{!-- this message is use for flash , it is included in admin.handlebars --}}